@model Tufces.Web.Models.KernelViewModel

<div class="accordion" id="Mainaccordion">
    @foreach(var item in Model.Pillboxes)
    {
        @Html.DisplayFor(x=>item)
    }
</div>

<script>
    $(function () {

        $('.moveAll').click(function () {
            var source = $(this).data('source');
            var target = $(this).data('target');
            moveAllElements('#' + source, '#' + target);
        });

    });

    function moveElement(listId, elementHtml,elementClass) {
        $(listId).append('<li class="' + elementClass + '">' + elementHtml + '</li>');
    }

    function moveAllElements(sourceListId, targetListId) {
        $(targetListId).append($(sourceListId).html());
        $(sourceListId).html('');
    }

    function changeHeader(headerId, includeListId, type) {
        var items = $(includeListId).pillbox('items');
        var newHeader = "Select " + type + " - "
        for (var i = 0; i < items.length; i++) {
            newHeader = newHeader + items[i].text + ",";
        }
        newHeader = newHeader.substring(0, newHeader.length - 1);
        $(headerId).text(newHeader);

    }
</script>

